<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @jenis_penyakit.nama %>
</p>

<%= link_to 'Edit', edit_jenis_penyakit_path(@jenis_penyakit) %> |
<%= link_to 'Back', jenis_penyakits_path %>
