<div class="center jumbotron">
  <h2>Selamat datang di website Puskesmas Kampung Sawah</h2>


</div>


<div class="row">
  <!-- Column Chart --> 
  <div class="col-xs-7">
    <h3>10 Penyakit Terbanyak</h3>
      <%= column_chart @pasiens.count, :library => {:colors => ["#1B9A00"]} %>
  </div>
  <div class="col-xs-5">
    <h3>Daftar Obat</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Kode</th>
          <th>Nama</th>
          <th>Stok</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @obats.each do |obat| %>
          <tr>
            <td><%= obat.kode %></td>
            <td><%= obat.nama %></td>
            <td><%= obat.stok %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    
</div>



