@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.date-select {
  width: 20%;
  margin-right: 10px;
  float: left;
}

.list-inline{
    font-size: inherit;
}
#pasien_tanggal_lahir_1i {
    width: 20%;
    display: inline
}
#pasien_tanggal_lahir_2i {
    width: 20%;
    display: inline
}
#pasien_tanggal_lahir_3i {
    width: 20%;
    display: inline
}
select{
    display: inline
}
.select-date-wrapper{
  select:first-of-type{
    width: 45%;
  }
  select:nth-of-type(2){
    width: 20%;
  }
  select:last-of-type{
    margin-right: 0;
  }
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
    background-color: #E31532;
    color: white;
    input, select {
        color: black;
        background-color: white;
    }
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-control{
    border-radius: 0px !important;
}

td {
  text-align: center;
  vertical-align: middle;
}
th {
  text-align: center;
  vertical-align: middle;
}

.table > thead:first-child > tr:first-child > th{
    background-color: #1B9A00;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.navbar-custom {
    background-color: #235718 !important;
    border-color: #235718 !important;
}

.navbar-inverse .navbar-nav > li > a{
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #235718 !important;
    background-color: #D1E6CC !important;
}

.btn{
    background-color: #1B9A00 !important;
    border-color: #1B9A00 !important;
    border-radius: 0px !important;
    color: white;
}

.btn-info{
    width: 100px;
}

a{
    color: green !important;
}

a:hover{
    background-color: transparent !important;
}

.container .jumbotron{
    background-color: transparent !important;
    border-radius: 0px !important;
    border-bottom: 3px solid #235718 !important;
}

.panel {
    width: 750px;
    margin-top: 20px;
    
}
.panel-heading {
        background-color: #1B9A00 !important;
        color: white !important;
        text-align: center;
}

.panel-title {
    font-weight: 800;
}

@media print {
  body {
    background-color: #FFF;
  }

   table{
   border: 1px solid black;
   } 
    
  #container {
    width: auto;
    margin: 5;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
    page-break-after: always;
  }
  
  #pdf_link {
    display: none;
  }
}